.button
{
    font-weight: 600;
line-height: 1;
    margin-left: 1.3rem;
    padding: 1.3rem;

    cursor: pointer;
    transition: background .2s ease;

    color: #555;
    border: 1px solid #555;
    outline: none;
    background: #fff;

	 background: transparent;

    &:hover,
    &:focus
    {
        background: #e8e8e8;
    }

    &:active
    {
        background: #ccc;
    }
}

// modifier
.button--round
{
    //
    width: 4rem;
    height: 4rem;

    border-radius: 50%;
}